body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-s {
    color: #2e2f42;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0; 
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-s-footer {
    color: #f4f4fd;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.navigation-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
.navigation-list-link:hover, .navigation-list-link:focus {
    color: #404bbf;
}
.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal; 
    padding: 24px 0;
    display: block;
}
.address-list-link:hover {
color: #404bbf;
}
.address-list-link:focus {
    color: #404bbf;
}
.hero-image {
    background-color: #2e2f42;
    color: #fff;
    padding: 188px 0;
}
.hero-image-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-image-button {
    margin: 0 auto;
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.hero-image-button:hover, .hero-image-button:focus {
    background-color: #404BBF;
}
.about-us {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-us-list {
    display: flex;
    gap: 24px;
}
.about-us-list-li {
    width: calc((100% - 72px) / 4);
}
.about-us-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.about-us-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.about-us-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.our-team-main-list {
    display: flex;
    gap: 24px;
}
.our-team-list {
background-color:#FFFFFF;
border-radius: 0px 0px 4px 4px;
width: calc((100% - 72px) / 4);
}
.our-team-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.our-team-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.our-team-photo {
    background: url("path_to_image");
    background-color: #fff;
}
.personell {
    padding: 32px 0;
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.our-portfolio-title-list {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.small-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-li {
    width: calc((100% - 48px) / 3);
}
.our-portfolio-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-portfolio-photo {
    background: url("path_to_image");
    background-color: #fff;
}